<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Xcart </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">Cart<span class="badge badge-success" style="color:black;background:aquamarine"id="cart-count">{{cartCount}}</span></a>
                    </li>

                    </a>
                    {{#if user}}
                    <li class="nav-item">
                        <a class="nav-link ">Orders</a>
                    </li>
                    {{/if}}
                </ul>
                <div class="btn-group">
                    <button class="btn btn-success btn-lg" type="button">
                        {{#if user}}
                        {{user.firstname}}
                        {{else}}
                        Account
                        {{/if}}

                    </button>
                    <button type="button" class="btn btn-lg btn-success dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only"></span>
                    </button>
                    <div class="dropdown-menu">
                        {{#if user}}
                         <a class="dropdown-item" href="/login">Logout</a>
                      
                        {{else}}
                         
                         <a class="dropdown-item" href="/login">Login</a>
                      
                        {{/if}}
                       
                        <a class="dropdown-item" href="/login">Switch User</a>
                        
                        <div class="dropdown-divider"></div>
                         <a class="dropdown-item" href="/admin">Seller Account</a>
                        <a class="dropdown-item" href="#">Settings</a>
                    </div>
                </div>

            </div>
        </div>
    </nav>
</header>