
   
    <section>
        <div class="container mt-5">
            <div class="row">
                {{#each products}}
                <div class="col-md-3 p-5">
                    <div class="card" style="width: 18rem; height:25rem;">
                        <img src="/product-images/{{this._id}}.jpg" class="card-img-top" alt="..."
                        style="height:22rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{this.Name}}</h5>
                            <p class="card-text">{{this.Description}}</p>
                            <a href="/add-to-cart/{{this._id}}" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
   